<div class="company-profile-box">
	<table>
		<tr>
			<td>運営会社：</td>
			<td>株式会社シューズクラフト</td>
		</tr>
		<tr>
			<td>事業内容：</td>
			<td>革靴の仕入れ・販売</td>
		</tr>
		<tr>
			<td>設立日：</td>
			<td>2000年1月1日</td>
		</tr>
		<tr>
			<td>代表者：</td>
			<td>藤池匡史</td>
		</tr>
		<tr>
			<td>所在地：</td>
			<td>東京都渋谷区渋谷1-1-1</td>
		</tr>
		<tr>
			<td>代表電話：</td>
			<td>03-1234-5678</td>
		</tr>
		<tr>
			<td>取引先金融機：</td>
			<td>三菱東京UFJ銀行</td>
		</tr>
		<tr>
			<td>ご連絡先：</td>
			<td>info@shoes-craft.com</td>
		</tr>
	</table>
</div>