<div class="user_mypage">
  <h1 class="user_mypage_heading">
    My Page
  </h1>
  <%= render_breadcrumbs separator: ' > ' %>
  <hr>
  <div class="user_icons">
   <div class="user_profile_contents">
    <%= link_to orders_path do %>
    <i class="material-icons user_profile">account_circle</i>
    <span>基本情報編集</span>
    <% end %>
  </div>
  <div class="user_cart_contents">
   <%= link_to user_carts_path(current_user.id) do %>
   <i class="material-icons user_cart">add_shopping_cart</i>
   <span>カート</span>
   <% end %>
 </div>
 <div class="user_bought_contents">
  <%= link_to orders_path do %>
  <i class="material-icons user_bought">card_travel</i>
  <span>購入履歴</span>
  <% end %>
</div>
</div>
</div>