<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>「<%= @u_name %> 」さん</h1>
    <p>
      お買い上げありがとうございます。<br />
      <%= @u_email %> 
    </p>
  </body>
</html>