<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p><%= @order.name %>さんご注文ありがとうございます。</p>
    <p>購入履歴は<a href="http://shoes-craft.club/orders">こちら</a>から確認可能です</p>
    <br>
    <p>振込先</p>
    <p>三菱東京UFJ銀行 渋谷支店 普通預金</p>
    <p>口座番号：1234567 株式会社シューズクラフト</p>
  </body>
</html>