<!DOCTYPE html>
<html>
<head>
  
  <!-- shoplogo　　　 -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playball|Playfair+Display|Quattrocento|Yantramanav" rel="stylesheet">
</head>
<body>
<div class="shopname">
<h1>Shoes Craft</h1>
</div>
</body>

</html>

