<!DOCTYPE html>
<html>
<head>
  
  <!-- shoplogo　　　 -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playball|Playfair+Display|Quattrocento|Yantramanav" rel="stylesheet">
    <!-- topjsのcss -->
    <link rel="stylesheet" type="text/css" href="/assets/js/vegas/vegas.css">

</head>
<body>

<div class="shopname">
<h1>Shoes Craft</h1>
</div>

<!-- topのjs -->
    <script type="text/javascript" src="/assets/js/vegas/vegas.js"></script>
    <script type="text/javascript" src="/assets/js/style.js"></script>


</body>

</html>

