<footer class="footer">
	<div class="footer-box">
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li>【取扱ブランド】</li>
				<li><a href="#" class="footer-p">REGAL</a></li>
				<li><a href="#" class="footer-p">SCOTCHGRAIN</a></li>
				<li><a href="#" class="footer-p">Crockett&Jones</a></li>
				<li><a href="#" class="footer-p">HARUTA</a></li>
			</ul>		
		</div>
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li><a href="#" class="footer-p">　</a></li>
				<li><a href="#" class="footer-p">JALAN SRIWIJAYA</a></li>
				<li><a href="#" class="footer-p">COLEHAAN</a></li>
				<li><a href="#" class="footer-p">EDWARDGREEN</a></li>
				<li><a href="#" class="footer-p">Church’s</a></li>
				<li><a href="#" class="footer-p">CARMINA</a></li>
			</ul>		
		</div>
		<div class="footer-box-small col-sm-3"></div>
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li><a href="#" class="footer-p">　</a></li>
				<li><a href="#" class="footer-p">プライバシーポリシー</a></li>
				<li><a href="#" class="footer-p">利用規約</a></li>
				<li><a href="#" class="footer-p">特定商取引法の記載</a></li>
				<li><a href="#" class="footer-p">運営会社</a></li>
			</ul>		
		</div>
	</div>
</footer>